<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/get" th:method="get">
            <label for="height">Высота</label>
            <input name="height" th:placeholder="${height}" th:value="${height}" class="form-control" id="height"><br/>
            <label for="radius">Радиус</label>
            <input name="radius"  th:placeholder="${radius}"  th:value="${radius}" class="form-control" id="radius"><br>
            <label>Объем</label>
            <input name="volume" disabled th:value="${volume}" class="form-control" id="volume"><br>
            <button class="w-100 btn btn-primary btn-lg" >Вычислить объем</button>
        </form>
    </div>
</body>
</html>